.fa {
    font-family: FontAwesome, fontawesome-webfont;
}

.friendlier-button {
    color: white;
    background-color: black;
    border-radius: 25%;
    padding: 40px;
}

.subtext {
    color: #46AFB9;
    font-family: 'Nunito';
}

.bg-gradient {
  width:100%;
  height: 100%;

    background: #34e89e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #0f3443, #34e89e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #0f3443, #34e89e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}